* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  color: white;
}

.nav-bar {
  background-color: #2d3763;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: sticky;
  top: 0;
  height: 4vh;
}

.tabs{
  /*border: 1px sol id green;*/
  /*margin: 0 auto;*/
  margin-left: 2.5vw;
  margin-right: 2.5vw;
}

#education,
#work-experience,
#projects {
  height: 700px;
}

#home {
  display: flex;
  padding-left: 10vw;
  padding-right: 10vw;

  background-color: #1d264a;
}

.home-text{
  text-align: justify;
  width:70%;
  margin-right: 2.5vw;
  color: white;
  font-size: 1.2vw;
  margin-top: 5vh;
}

.mypicture-wrapper {
  padding-top: 3vw;
  width: 30%;
}

.mypicture {
  width: 100%;
  height: 65%;
  object-fit: cover;
  object-position: top center;
  border-radius: 60%;

}

#education {
  background-color: green;
}

#work-experience {
  background-color: blue;
}

#projects {
  background-color: black;
}