* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
  /*background: linear-gradient(#e66465, #9198e5);*/
}

body {
  background-color: rgb(26 26 26);
}

.nav-bar {
  background-color: #2d3763;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: sticky;
  top: 0;
  height: 4vh;
}

.tabs{
  /*border: 1px sol id green;*/
  /*margin: 0 auto;*/
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  text-decoration: none;
  color: white;
}


#work-experience,
#projects {
  height: 700px;
}

.home {
  display: flex;
  justify-content: space-between;
  padding-left: 15vw;
  padding-right: 15vw;

  /*background-color: #1d264a;*/
}

.home-text{
  text-align: justify;
  width:50%;
  margin-right: 5vw;
  color: white;
  font-size: 1.2vw;
  margin-top: 15vh;
}

.mypicture-wrapper {
  padding-top: 10vh;
  width: 30%;
}

.mypicture {
  width: 100%;
  height: 65%;
  object-fit: cover;
  object-position: top center;
  border-radius: 60%;
}


.education-header{
  text-align: center;
  font-size: 6.5vh;
  color: orange;
  margin-bottom: 5vh;
}

.education-header::before,
.education-header::after {
  display: inline-block;
  content: "";
  border-top: .3rem solid orange;
  width: 20rem;
  margin: 0 1rem;
  transform: translateY(-0.5rem);
}

.education-wrapper{
  padding-top: 10vh;
}

.education{
  display: flex;
  justify-content: space-between;
  padding-left: 15vw;
  padding-right: 15vw;
}


.mypicture-education-wrapper{
  width: 30%;
}

.mypicture-education {
  width: 30vw;
}

.education-text {
  color: white;
  width: 35vw;
}

ul {
  padding: 1.5vw;
}

#work-experience {
  /*background-color: blue;*/
}

#projects {
  /*background-color: black;*/
}